* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  /* Variables  */
}
body {
  display: flex;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}
main {
  display: grid;
  height: 100%;
  border: 2px red dashed;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: calc(1rem + 4%);
  grid-template-areas:
    "column-left column-middle column-rigth"
    "footer footer footer";
}
div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px red dashed;
}
.column-left {
  grid-area: column-left;
}
.column-middle {
  grid-area: column-middle;
}
.column-rigth {
  grid-area: column-rigth;
}
.footer {
  grid-area: footer;
}
