* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;

}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* the main log in form */
main {
  display: grid;
  height: 50%;
  width: 50%;
  border: #e4e3e7 2px solid;
  grid-template-columns: 3fr 0.5fr 3fr;
  grid-template-rows: 3fr 0.5fr;

  grid-template-areas:
    "column-left column-middle column-rigth"
    "footer footer footer";
}
div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px transparent dashed;
}
/* the left column  */
.column-left {
  grid-area: column-left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.column-left a {
  text-decoration-line: none;
  display: flex;
  height: 4rem;
  width: 80%;
  color: white;
  font-size: 27px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
#FB {
  background-color: #5b63be;
}
#GG {
  background-color: #ee002e;
}
#TW {
  background-color: #4dc8f1;
}
i {
  border-radius: 5%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  border-right: 3px solid rgba(128, 128, 128, 0.281);
  padding-left: 5px;
}
/* separetion line in the middle */
.column-middle {
  grid-area: column-middle;
  display: flex;
  flex-direction: column;
  color: #e4e3e7;
}
.vertical-line {
  border: #e4e3e7 2px solid;
  height: 40%;
}
.middle-conten {
  border: #e4e3e7 2px solid;
  border-radius: 100%;
  height: 4.5rem;
  width: 4.5rem;
}
/* the input box */
.column-rigth {
  grid-area: column-rigth;
  display: flex;
  flex-direction: column;
  color: rgb(173, 170, 170);
}
.column-rigth span {
  display: flex;
  color: gray;
  height: 3rem;
  width: 15rem;
}
.column-rigth h2 {
  color: #555260;
}
input {
  border: none;
  border-bottom: 2px solid #e4e3e7;
  background-color: transparent;
}
#placholder2,
#placholder1 {
  color: #94919b;
  font-weight: bold;
  width: 14rem;
  padding: 1rem;
  font-size: 18px;
}
.checkbox input {
  color: gray;
  margin-left: 6rem;
  padding: 10px;
  margin: 3vh auto;
  display: table-cell;
}
#button {
  font-size: 19px;
  height: 2.7rem;
  width: 7rem;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  background-color: #6a97fe;
}
/* the last line in the form  */
.footer {
  grid-area: footer;
  display: flex;
  border: 2px solid #e4e3e7;
  font-size: 22px;
}

.footer a {
  display: flex;
  text-decoration-line: none;
  padding: 2rem;
}
.last-line h1 {
  position: relative;
  right: 13px;

  height: 3rem;
  border: 2px solid #e4e3e7;
}
